<!DOCTYPE html>
<html>
<head>
    <title>Переводчик языков</title>
    <meta charset="utf-8" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <script type="text/x-template" id="modal-template">
        <transition name="modal">
            <div class="modal-mask">
                <div class="modal-wrapper">
                    <div class="modal-container">

                        <div class="modal-header">
                            <slot name="header">
                                Конвертирование с файла
                            </slot>
                        </div>

                        <div class="modal-body">
                            <slot name="body">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1"><button class="btn btn-outline-primary" v-on:click="translatefile"><i class="fas fa-upload" aria-hidden="true"></i></button></span>
                                            </div>
                                            <input type="file" class="form-control" placeholder="Путь файла" aria-describedby="basic-addon1">
                                        </div>
                                        <h5 class="card-title">
                                            Язык:
                                            <select v-model="filelang" class="custom-select mr-sm-2 col-7" id="inlineFormCustomSelect">
                                                <option value="C#" selected>C#</option>
                                                <option value="Pascal">Pascal</option>
                                                <option value="Python">Python</option>
                                                <option value="C++">C++</option>
                                            </select>
                                        </h5>

                                    </div>
                                    <div class="card-body">
                                        <textarea v-model="text3" class="form-control">
                            </textarea>

                                    </div>
                                </div>
                            </slot>
                        </div>

                        <div class="modal-footer">
                            <slot name="footer">
                                <button class=" btn modal-default-button btn-outline-primary" @@click="$emit('close')">
                                    Закрыть
                                </button>
                            </slot>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </script>
</head>
<body>
        @RenderBody()
</body>
</html>
